@page
@model Madiba2goBuggy.Pages.AboutModel
@{
}

<div class="text-center">
    <h1 class="display-4">About Madiba2Go Buggy</h1>
</div>

<h2 >Our Story</h2>
<p></p>

<h2>Our vision</h2>
<p></p>

<h2>Our mission</h2>
<p></p>