@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Madiba2Go Buggy</h1>
    <img src=".\images\frontpage.jpg" width="1000"/>
</div>
